.App {
  text-align: center;
  font-family: Courier New;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 1;
  opacity: 0.5;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Houses-img{
  height: 40vmin;
  z-index: 2;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-title{
  z-index: 2;
}

.App-link {
  color: black;
  z-index: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
